.block {
  height: 80px;
  width: 80px;
  background: rgb(231, 18, 18);
  margin: 3px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 45px;
  font-weight: 800px;
  color: rgb(150, 11, 11);
  // color: #645B52;
}
