.board {
  background: rgb(20, 19, 19);
  padding: 20px;

  &__body {
    background: #080808;
    width: max-content;
    padding: 8px;
    border-radius: 5px;
    margin-top: 10px;
  }

  &__row {
    display: flex;
  }
}
