.action-panel {
  display: flex;

  &__group {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: rgb(29, 27, 27);
    font-weight: bold;
  }

  &__button {
    color: rgb(17, 16, 16);
    margin: 0 50px;
    cursor: pointer;

    &--disabled {
      color: rgb(15, 15, 15);
      margin: 0 40px;
      cursor: auto;
    }
  }
}
